.Searchbar{
    width:40%;
    border: 3px solid grey;
    border-radius: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:50%;
    top: 96px;
    transform: translateX(-50%);
    height:40px;
}

.Searchbar input{
    border:none;
    padding: 0;
    height: 100%;
    max-width: 25%;
}

.Searchbar img{
    max-width: 75%;
    max-height: 75%;
    position: absolute;
    left: 5px;
    background-color: white;
}